GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

AUTH_SECRET=generate_a_long_random_secret

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority

# Upstash Redis
REDIS_HOST=your-upstash-host.upstash.io
REDIS_PORT=6379
REDIS_PASSWORD=your_upstash_password
REDIS_REST_URL="https://your-upstash-host.upstash.io"
REDIS_REST_TOKEN="your_upstash_rest_token"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_PROJECT="your_langsmith_project"
OPENAI_API_KEY=your_openai_api_key

HUGGING_FACE_TOKEN="your_hugging_face_token"
VECTOR_DB_API="your_vector_db_api_key"
VECTOR_DB_ENDPOINT="https://your-qdrant-host.cloud.qdrant.io:6333"